{{> header}}
{{>navbar}}
{{#if onedata}}

<main id="main" class="main">
    <div class="pagetitle">
        <h1 style="text-align: center;">Bản đồ thể hiện các vùng trồng</h1>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-3">
                <a href="/map/setview"><button class="btn btn-success">Chọn khu vực hiển thị </button></a><br><br>
                <!-- Recent Activity -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cơ cấu cây trồng</h5>
                        {{#each onedata}}
                        <div id="setview" data-lat="{{this.lat}}" data-lng="{{this.lng}}"
                            data-zoomLevel="{{this.zoomLevel}}"></div>
                        {{/each}}
                        <form method="POST" class="form row" id="form-1">
                            <div class="form-group  mt-3 ">
                                <label for="name" class="form-label">Tên vùng trồng :</label>
                                <input type="text" class="form-control" id="namearea" placeholder="vùng trồng ..."
                                    name="namearea">
                                <div id="message"></div>
                            </div>
                        </form>
                        <div class=" mt-4">
                            <button class="btn btn-primary " id="btnsave" type="submit"
                                style=" width:80px;float: right;">Lưu</button>
                        </div>
                        <br><br>

                    </div>
                    <br>
                </div>
            </div><!-- End Recent Activity -->
            <div class="col-lg-9">
                <div class="row ">
                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="map" style="width: 100%; height: 70vh;"></div> <!-- End Line Chart -->
                            </div>
                        </div>
                    </div><!-- End Reports -->
                </div>
            </div><!-- End Left side columns -->
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="pagetitle mb-4">
                        <h1>Danh sách khu vực trồng</h1>
                    </div><!-- End Page Title -->
                    <div class="col-md-12">
                        <table class="table table-bordered ">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>STT</th>
                                    <th>Vùng trồng</th>
                                    <th>Diện tích</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{sum @index 1}}</td>
                                    <td>{{this.namearea}}</td>
                                    <td>{{formatNumber this.areaMeter}} m2</td>
                                    <td><a> <i class="bi bi-trash3" data-bs-toggle="modal"
                                                data-bs-target="#delete-work-modal" data-id="{{this._id}}"
                                                style="color: red;"></i></a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{{/if}}
{{#unless onedata}}
<main id="main" class="main">
    <div class="pagetitle">
        <h1 style="text-align: center;">Khoanh vùng khu vực trồng của bạn </h1>
        <button style="width: 20%; " class="btn btn-success" id="clickbtn">Chọn khu vực </button>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row ">
                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="setmap" style="width: 100%; height: 70vh;"></div> <!-- End Line Chart -->
                            </div>
                        </div>
                    </div><!-- End Reports -->
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>
</main><!-- End #main -->
{{/unless}}
<div id="delete-work-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khu vực trồng</h5>
                {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                --}}
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa khu vực này không ?</p>
            </div>
            <div class=" modal-footer ">
                <button id="btn-delete-calendar" type="button" class="btn btn-danger"
                    style="float: right; width:100px">Đồng
                    ý
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    style="float: right; width:100px">Thoát</button>
            </div>
        </div>
    </div>
</div>
{{!-- form delete --}}
<form name="delete-calendar-form" method="POST"></form>
{{> footer}}
<script src="/js/validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{{!-- <script src="/js/setview.js"></script> --}}
<script src="/js/map.js"></script>