{{> header}}
{{>navbar}}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Danh sách các công việc</h1>
        <a href="/lich"> <i class="bi bi-arrow-left-circle-fill" style="font-size:24px"> </i></a>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5>Các Công Việc</h5>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tên vùng trồng</th>
                                            <th>Giống cây</th>
                                            <th>Diện tích m2</th>
                                            <th>Tên công việc</th>
                                            <th>Thời gian bắt đầu</th>
                                            <th>Thời gian kết thúc</th>
                                            <th>Chỉnh sửa</th>
                                            <th>Xóa bỏ</th>
                                        </tr>
                                    </thead>
                                    {{#each works}}
                                    <tbody>
                                        <tr>
                                            <td>{{this.namearea}}</td>
                                            <td>{{this.giongcay}}</td>
                                            <td>{{formatNumber this.areaMeter}}</td>
                                            <td>{{this.title}}</td>
                                            <td>{{this.start}}</td>
                                            <td>{{this.end}}</td>

                                            <td> <a href="/lich/{{this._id}}/edit"><i class="bi bi-pencil"
                                                        style="color: rgb(7, 255, 56);"></i></a></td>
                                            <td><a> <i class="bi bi-trash3" data-bs-toggle="modal"
                                                        data-bs-target="#delete-work-modal" data-id="{{this._id}}"
                                                        style="color: red;"></i></a></td>
                                        </tr>
                                    </tbody>{{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- delete form --}}
    {{!-- Confirm Delete Works --}}
    <div id="delete-work-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa Lịch Làm Việc</h5>
                    {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    --}}
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa lịch làm việc này không ?</p>
                </div>
                <div class="modal-footer mx-auto">
                    <button id="btn-delete-item" type="button" class="btn btn-danger">Đồng ý xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>

                </div>
            </div>
        </div>
    </div>
    {{!-- Confirm edit works --}}
</main>

{{!-- form delete --}}
<form name="delete-item-form" method="POST"></form>



<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    // method delete 
    const exampleModal = document.getElementById('delete-work-modal')
    exampleModal.addEventListener('show.bs.modal', event => {
        var deleteForm = document.forms['delete-item-form']
        var btnDeleteitem = document.getElementById('btn-delete-item')
        const button = event.relatedTarget
        //get id from button delete
        const recipient = button.getAttribute('data-id')

        btnDeleteitem.onclick = function () {
            deleteForm.action = '/lich/' + recipient + '?_method=DELETE'
            deleteForm.submit()
        }
    })
</script>