{{> header}}
{{>navbar}}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Chỉnh sửa tư liệu</h1>
         <a href="/tulieu/store"> <i class="bi bi-arrow-left-circle-fill" style="font-size:24px"> </i></a>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <!-- Recent Activity -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="currentYear"> </h5>
                        <div>
                            <div class="add-event-form">
                                <br>
                                <form action="/tulieu/store/creat" method="POST">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><strong>Tên bài
                                                        viết:</strong></label>
                                                <input type="text" class="form-control" id="title" name="title"
                                                    value="{{data.title}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><strong>Danh mục:
                                                    </strong></label>
                                                <select class="form-select" id="category"
                                                    show-value="{{data.category_id}}">
                                                    {{#each category}}
                                                    <option value="{{this._id}}">{{this.title}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><strong>Hình
                                                        ảnh:</strong>
                                                    <img id="imagePreview" src="/{{data.image}}"
                                                        UrlImage="{{data.image}}" alt="Preview" width="100px">
                                                </label><br>
                                                <input type="file" class="form-control" id="image" name="image"
                                                    style="display: none;">
                                            </div>
                                        </div>
                                    </div> <br>
                                    <div class="form-group">
                                        <input type="hidden" id="content" value="{{data.content}}">
                                        <label for="recipient-name" class="col-form-label"><strong>Nội dung</strong>
                                        </label><br>
                                        <div id="editor" style="min-height: 300px;"></div>
                                    </div>
                            </div>
                        </div><br>
                        </form>
                        <div id="getcontent" style="display: none;" getid="{{data._id}}"></div>
                        <div class=" w-25 mx-auto">
                            <button type="submit" class="btn btn-primary" onclick="onclickEdit()">Lưu lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{{> footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{{!--
<script src="https://cdn.tiny.cloud/1/egue02dpzhq0z79z5vgtt0hnr0hyffh4kf4toro78vjgv85f/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js"> </script>
<script src="/js/tinymce.js"></script>
<script>
    var img = document.getElementById('image')
    var imagePreview = document.getElementById('imagePreview')
    //get url image
    var UrlImage = imagePreview.getAttribute('UrlImage')
    //lấy nội dung
    const getcontent = document.getElementById('getcontent')
    const content = document.getElementById('content').value
    getcontent.innerHTML = content
    var contentWithHTML = document.getElementById('getcontent').innerHTML;
    //getid
    const getid = getcontent.getAttribute('getid')
    //Edit content
    tinymceFuntions(contentWithHTML)

    // Khi click vào ảnh, chuyển sự kiện click đến trường nhập file
    imagePreview.addEventListener('click', function () {
        img.click();

    });
    // change ảnh khi chọn
    img.addEventListener('change', function () {
        if (img.files && img.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
            };
            reader.readAsDataURL(img.files[0]);
        }
    });
    //  tự động chọn category
    var showcategory = document.getElementById('category')
    var getAttrCategory = showcategory.getAttribute('show-value')
    function showSelected(showElement, value) {
        valueFromDatabase = value
        // Lấy tham chiếu đến element select
        var selectElement = showElement

        // Duyệt qua từng option trong select
        for (var i = 0; i < selectElement.options.length; i++) {
            // So sánh giá trị của option với giá trị từ database
            if (selectElement.options[i].value === valueFromDatabase) {
                // Đặt thuộc tính selected cho option tương ứng
                selectElement.options[i].selected = true;
                break; // Dừng vòng lặp nếu đã tìm thấy giá trị
            }
        }
    }
    showSelected(showcategory, getAttrCategory)
    // submit Edit
    function onclickEdit() {
        var tinymceHtmlContent = tinymce.get('editor').getContent()
        var title = document.getElementById('title').value
        var category = document.getElementById('category').value
        const file = img.files[0]
        //if you selected file
        if (title && tinymceHtmlContent) {
            const formData = new FormData();
            formData.append('image', file);
            // formData.append('id', getid);
            formData.append('imageurl', UrlImage);
            formData.append('title', title);
            formData.append('category_id', category);
            formData.append('editor', tinymceHtmlContent);
            fetch(`/tulieu/${getid}`, {
                method: 'PUT',
                body: formData,
            })
                .then(() => {
                    window.location.replace('/tulieu/store')
                })
        }
    }
</script>