{{> header}}
{{>navbar}}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Thực địa </h1><br>
        <button class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@mdo">Thêm mới </button><br><br>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5>Thực địa - cánh đồng</h5>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tên vùng trồng</th>
                                            <th>Loại giống cây</th>
                                            <th>Diện tích - m2</th>
                                            <th>Ngày bắt đầu</th>
                                            <th>Ngày kết thúc</th>
                                            <th colspan="2">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each data}}
                                        <tr>
                                            <td>{{this.namearea}}</td>
                                            <td>{{this.giongcay}}</td>
                                            <td>{{formatNumber this.areaMeter}}</td>
                                            <td>{{this.ngaybatdau}}</td>
                                            <td>{{this.ngayketthuc}}</td>
                                            <td> <a href="/canhdong/{{this._id}}/edit"><i class="bi bi-pencil"
                                                        style="color: rgb(7, 255, 56);"></i></a></td>
                                            <td><a> <i class="bi bi-trash3" data-bs-toggle="modal"
                                                        data-bs-target="#delete-work-modal" data-id="{{this._id}}"
                                                        style="color: red;"></i></a></td>
                                        </tr>
                                        {{/each }}
                                    </tbody>
                                </table>
                                <div class="col-lg-12 center">
                                    <div class=" ">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                {{#if pagination.prev}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/canhdong?page={{pagination.prev}}"
                                                        aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                {{/if}}

                                                {{#each pagination.pages}}
                                                <li class="page-item {{#if this.active}}active{{/if}}">
                                                    <a class="page-link"
                                                        href="/canhdong?page={{this.number}}">{{this.number}}</a>
                                                </li>
                                                {{/each}}

                                                {{#if pagination.next}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/canhdong?page={{pagination.next}}"
                                                        aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                                {{/if}}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- modal thêm --}}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-add">
            <div class="modal-content" style="width:150%">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm Mới</h5>
                </div>
                <div class="modal-body">
                    <form action="/canhdong/store" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Tên vùng trồng:</label>
                                    <select class="form-select" aria-label="Default select example" name="map_id">
                                        {{#each map}}
                                        <option value="{{this._id}}">{{this.namearea}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Loại giống cây:</label><br>
                                    <input type="text" class="form-control" id="giongcay" name="giongcay">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Lịch sử dụng phân
                                        bón:</label><br>
                                    <input type="date" class="form-control" id="ngaybatdau" name="ngaybatdau">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Lịch sử dụng thuốc bảo vệ thực
                                        vật:</label><br>
                                    <input type="date" class="form-control" id="ngayketthuc" name="ngayketthuc">
                                </div>
                            </div>
                        </div><br>
                        <div class=" w-25 mx-auto">
                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{!-- delete form --}}
    {{!-- Confirm Delete Works --}}
    <div id="delete-work-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa Bản Ghi </h5>
                    {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    --}}
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa bản ghi này không ?</p>
                </div>
                <div class="modal-footer mx-auto">
                    <button id="btn-delete-item" type="button" class="btn btn-danger">Đồng ý xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</main>
{{!-- form delete --}}
<form name="delete-item-form" method="POST"></form>
<script>
    // method delete 
    const exampleModal = document.getElementById('delete-work-modal')
    exampleModal.addEventListener('show.bs.modal', event => {
        var deleteForm = document.forms['delete-item-form']
        var btnDeleteitem = document.getElementById('btn-delete-item')
        const button = event.relatedTarget
        //get id from button delete
        const recipient = button.getAttribute('data-id')

        btnDeleteitem.onclick = function () {
            deleteForm.action = '/canhdong/' + recipient + '?_method=DELETE'
            deleteForm.submit()
        }
    })
</script>