{{> header}}
{{>navbar}}
<main id="main" class="main">

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body " style=" overflow-x: auto;">
                                <div class="row mb-4">
                                    <div class="pagetitle  col-6 ">
                                        <h1>Quản lý danh mục </h1>
                                    </div><!-- End Page Title -->
                                    <div class="col-6">
                                        <button class="btn btn-primary" style="width: 200px;float:right"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            data-bs-whatever="@mdo">Thêm mới </button><br><br>
                                    </div>
                                </div>
                                <table class="table table-bordered" style="font-size: 12px;">
                                    <thead style="text-align: center;">
                                        <tr>
                                            <th class="col-1">STT</th>
                                            <th class="col-4">Tên danh mục</th>
                                            <th class="col-1" colspan="2">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each data}}
                                        <tr class="center-button">
                                            <td>{{sum @index 1}}</td>
                                            <td>{{this.title}}</td>
                                            <td> <i class="bi bi-pencil" style="color: rgb(7, 255, 56);"
                                                    data-bs-toggle="modal" data-bs-target="#editModal{{this._id}}"
                                                    data-bs-whatever="@mdo"></i>
                                            </td>

                                            <td><a> <i class="bi bi-trash3" data-bs-toggle="modal"
                                                        data-bs-target="#delete-work-modal" data-id="{{this._id }}"
                                                        style="color: red;"></i></a>
                                            </td>

                                            {{!--show modal --}}
                                            <div class="modal fade" id="editModal{{this._id}}" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-add ">
                                                    <div class="modal-content ">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa
                                                            </h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/category/{{this.slug}}?_method=PUT"
                                                                method="POST">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label for="recipient-name"
                                                                                class="col-form-label">Tên danh
                                                                                mục:</label>
                                                                            <input type="text" class="form-control"
                                                                                id="title" name="title"
                                                                                value="{{this.title}}" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"
                                                                        style="float:right;;width:100px"> Thay đổi
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        {{else}}
                                        <tr>
                                            <td colspan="9" class="text-center">
                                                Không tìm thấy từ khóa nào !
                                            </td>
                                        </tr>
                                        {{/each }}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 center">
                                <div class=" ">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {{#if pagination.prev}}
                                            <li class="page-item">
                                                <a class="page-link" href="/category/store?page={{pagination.prev}}"
                                                    aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {{/if}}

                                            {{#each pagination.pages}}
                                            <li class="page-item {{#if this.active}}active{{/if}}">
                                                <a class="page-link"
                                                    href="/category/store?page={{this.number}}">{{this.number}}</a>
                                            </li>
                                            {{/each}}

                                            {{#if pagination.next}}
                                            <li class="page-item">
                                                <a class="page-link" href="/category/store?page={{pagination.next}}"
                                                    aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            {{/if}}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-add ">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm Mới</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/category/store/creat" method="POST">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Tên danh mục:</label>
                                        <input type="text" class="form-control" id="title" name="title" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" style="float:right;;width:100px">Thêm
                                    mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="delete-work-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa nhật ký</h5>
                    {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    --}}
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa nhật ký này không ?</p>
                </div>
                <div class="modal-footer ">
                    <button id="btn-delete-item" type="button" class="btn btn-danger"
                        style="float: right; width:100px">Đồng ý
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        style="float: right; width:100px">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- modal thêm --}}
</main>
<form name="delete-item-form" method="POST"></form>
{{> footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    // method delete 
    const exampleModal = document.getElementById('delete-work-modal')
    exampleModal.addEventListener('show.bs.modal', event => {
        var deleteForm = document.forms['delete-item-form']
        var btnDeleteitem = document.getElementById('btn-delete-item')
        const button = event.relatedTarget
        //get id from button delete
        const recipient = button.getAttribute('data-id')

        btnDeleteitem.onclick = function () {
            deleteForm.action = '/category/' + recipient + '/delete'
            deleteForm.submit()
        }
    })
</script>