<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet">
{{> header}}
{{>navbar}}
<main id="main" class="main">

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <!-- Recent Activity -->
                <div class="card">
                    <div class="card-body">
                        <div class="add-event-form">
                            <div class="pagetitle mb-4">
                                <h1>Nhật ký quá trình sản xuất</h1>
                                <a href="/production-process-log/storeList"> <i class="bi bi-arrow-left-circle-fill"
                                        style="font-size:24px">
                                    </i></a>
                            </div><!-- End Page Title -->
                            <form id="event-form" method="POST"
                                action="/production-process-log/{{data.nhatkysanxuat_id}}?_method=PUT">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row mb-4">
                                            <div class="col-lg-6">
                                                <label class="event-title">Giống cây</label>
                                                <select id="selectedTree"
                                                    class="js-example-disabled-results form-select"
                                                    aria-label="Default select example" name="tree_id"
                                                    show-value="{{data.tree_id}}" required>
                                                    {{#each tree}}
                                                    <option value="{{this._id}}">{{this.nameTree}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label class="event-title">Vụ mùa</label>
                                                <select id="selectedSeason"
                                                    class="js-example-disabled-results form-select"
                                                    aria-label="Default select example" name="season_id"
                                                    id="selectedSeason" show-value="{{data.season_id}}" required>
                                                    {{#each season}}
                                                    <option value="{{this._id}}">{{this.nameSeason}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-6">
                                                <label class="event-title">Năm</label>
                                                <select id="selectedYear"
                                                    class="js-example-disabled-results form-select"
                                                    aria-label="Default select example" name="year_id"
                                                    show-value="{{data.year_id}}" required>
                                                    {{#each year}}
                                                    <option value="{{this._id}}">{{this.year}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="event-title">Tên nguyên vật liệu</label>
                                                <select id="selectedNguyenLieu"
                                                    class="js-example-disabled-results form-select"
                                                    aria-label="Default select example" name="nguyenvatlieu_id"
                                                    show-value="{{data.nguyenvatlieu_id}}" required>
                                                    {{#each nguyenvatlieu}}
                                                    <option value="{{this._id}}">{{this.name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="event-title">Khu vực trồng (lô/thửa)</label>
                                            <select id="selectedArea" class="js-example-disabled-results form-select"
                                                aria-label="Default select example" name="map_id"
                                                show-value="{{data.map_id}}" required>
                                                {{#each map}}
                                                <option value="{{this._id}}">{{this.namearea}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="event-title">Tên công việc</label>
                                            <input type="text" class="form-control" id="event-title" name="title"
                                                value="{{data.title}}" required>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="form-group col-lg-6">
                                                <label class="event-title">Thời gian bắt đầu</label>
                                                <input type="date" class="form-control" id="event-start" name="start"
                                                    value="{{{ formatDate data.start}}}" required>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="event-title">Thời gian kết thúc</label>
                                                <input type="date" class="form-control" id="event-end" name="end"
                                                    value="{{{formatDate data.end}}}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row mb-4">
                                            <div class="form-group col-lg-6">
                                                <label class="event-title">Nồng độ pha/bón</label>
                                                <input type="text" class="form-control" id="nongdo" name="nongdo"
                                                    value="{{data.nongdo}}" required>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="event-title">Tổng lượng sử dụng</label>
                                                <input type="text" class="form-control" id="luongsudung"
                                                    value="{{data.luongsudung}}" name="luongsudung" required>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="event-title">Thời gian cách ly</label>
                                            <input type="text" class="form-control" id="thoigiancachly"
                                                value="{{data.thoigiancachlythuoc}}" name="thoigiancachly" required>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlTextarea1">Mục đích sử dụng</label>
                                            <input class="form-control" id="mucdich" name="mucdich"
                                                value="{{data.mucdich}}" rows="3" required>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label class="event-title">Thiết bị sử dụng</label>
                                            <input type="text" class="form-control" id="thietbi" name="thietbi"
                                                value="{{data.thietbi}}" required>
                                        </div>
                                        <div class="form-check form-switch mb-4">
                                            <input class="form-check-input" type="checkbox" id="vesinhdungcu"
                                                name="vesinhdungcu" value="Đúng" data-value="{{data.vesinhdungcu}}">
                                            <label class="form-check-label" for="mySwitch">Vệ sinh dụng cụ trước và sau
                                                khi
                                                sử dụng
                                                (Đ/K)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success"
                                        style="width:250px;float:right;margin-left:20px"> Thay đổi
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End Recent Activity -->
                <!-- Budget Report -->
            </div><!-- End Right side columns -->
        </div>
    </section>
</main><!-- End #main -->
{{> footer}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-disabled-results').select2();
    });
    document.addEventListener("DOMContentLoaded", function () {
        var checkbox = document.getElementById('vesinhdungcu');
        if (checkbox.getAttribute('data-value') === 'Đúng') {
            checkbox.checked = true;
        } else {
            checkbox.checked = false;
        }
    })
</script>
<script src="/js/LoadContentNhatKy.js"></script>
<script src="/js/inputSelectNhatKy.js"></script>