<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet">
{{> header}}
{{>navbar}}
<main id="main" class="main">
    <div class="card">
        <div class="card-body" style=" overflow-x: auto;">
            <div class="pagetitle">
                <h1>Nhật ký quá trình sản xuất</h1>
                <a href="/production-process-log"> <i class="bi bi-arrow-left-circle-fill" style="font-size:24px">
                    </i></a>
            </div>
            <form id="searchForm" method="GET" action="/production-process-log/storeList">
                <div class="row justify-content-center">
                    <div class="col-md-2 ">
                        <div class="form-group">
                            <select class="form-select js-example-disabled-results" id="map_id" name="map"
                                aria-label="Default select example" show-value="{{map}}">
                                <option value="">Lô/thửa</option>
                                {{#each DataMap}}
                                <option value="{{this._id}}">{{this.namearea}} </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group">
                            <select class="form-select js-example-disabled-results" id="tree_id" name="tree"
                                aria-label="Default select example" show-value="{{tree}}">
                                <option value="">Chọn giống cây</option>
                                {{#each DataTree}}
                                <option value="{{this._id}}">{{this.nameTree}} </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group">
                            <select class="form-select js-example-disabled-results" id="season_id" name="season"
                                aria-label="Default select example" show-value="{{season}}">
                                <option value="">Chọn mùa</option>
                                {{#each DataSeason}}
                                <option value="{{this._id}}">{{this.nameSeason}} </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group">
                            <select class="form-select js-example-disabled-results" id="year_id" name="year"
                                aria-label="Default select example" show-value="{{year}}">
                                <option value="">Năm</option>
                                {{#each DataYear}}
                                <option value="{{this._id}}">{{this.year}} </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1  ">
                        <button type="submit" class="search"><i class="bi bi-search"></i></button>
                    </div>
                </div>

            </form>
        </div><!-- End Page Title -->
        <section class="section dashboard">
            <div class="card-body ">
                <h5>Danh sách</h5>
                <form action="/production-process-log/handle-form-actions" method="POST">
                    <div class="row justify-content-between">
                        <div class="col-md-4 mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <select class="form-control" style="text-align: center;" name="action" required>
                                        <option value="">-----Hành động-----</option>
                                        <option value="delete">Xóa bản ghi</option>
                                    </select>
                                </div>
                                <div class="col-4"><button type="submit"
                                        class="btn btn-success mr-5 btn-check-all-submit " disabled>Thực
                                        hiện</button>
                                </div>
                                <div class="col-2">
                                    <span><a href="/production-process-log/trash"
                                            style="color:red ;font-size:24px; margin-left:20px"><strong>
                                                <i class="bi bi-trash3"></i> </strong></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3"> <button id="generatePdfButton"
                                class="btn btn-success btn-check-all-submit " style="width: 200px; float:right"
                                disabled>Xuất
                                file PDF
                                <i class="bi bi-box-arrow-in-down"></i></button></div>
                    </div>
                    <table class="table table-bordered mt-3" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th> <label><input type="checkbox" value="" id="checkbox-all"> </label></th>
                                <th>Vụ mùa</th>
                                <th>Năm</th>
                                <th>Tên công việc</th>
                                <th>Giống cây</th>
                                <th>Thời gian thực hiện</th>
                                <th>Tên nguyên vật liệu</th>
                                <th>Nồng độ pha/bón</th>
                                <th>Tổng lượng sử dụng</th>
                                <th>Thời gian cách ly</th>
                                <th>Mục đích sử dụng</th>
                                <th>Lô/Thửa</th>
                                <th>Thiết bị sử dụng</th>
                                <th>VS dụng cụ (Đ/K)</th>
                                <th>Chỉnh sửa</th>
                                <th>Xóa bỏ</th>
                            </tr>
                        </thead>
                        {{#each nhatkysanxuat}}
                        <tbody>
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="checkboxId" name="workIds"
                                                value="{{this.nhatkysanxuat_id}}"></label>
                                    </div>
                                </th>
                                <td>{{this.nameSeason}}</td>
                                <td>{{this.year}}</td>
                                <td>{{this.title}}</td>
                                <td>{{this.nameTree}}</td>
                                <td>{{this.start}} đến {{this.end}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.nongdo}}</td>
                                <td>{{this.luongsudung}}</td>
                                <td>{{this.thoigiancachly}}</td>
                                <td>{{this.mucdich}}</td>
                                <td>{{this.namearea}}</td>
                                <td>{{this.thietbi}}</td>
                                <td>{{this.vesinhdungcu}}</td>

                                <td> <a href="/production-process-log/{{this.nhatkysanxuat_id}}/edit"><i
                                            class="bi bi-pencil" style="color: rgb(7, 255, 56);"></i></a></td>
                                <td><a> <i class="bi bi-trash3" data-bs-toggle="modal"
                                            data-bs-target="#delete-work-modal" data-id="{{this.nhatkysanxuat_id}}"
                                            style="color: red;"></i></a></td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="16" class="text-center">
                                    Không có bản ghi nào !
                                </td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>

                    <div class="col-md-12 center">
                        <div class="">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {{#if pagination.prev}}
                                    <li class="page-item">
                                        <a class="page-link" onclick="changePage({{pagination.prev}})"
                                            aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {{/if}}
                                    {{#each pagination.pages as |page|}}
                                    {{#if page.active}}
                                    <li class="page-item active">
                                        <a class="page-link" onclick="changePage({{this.number}})">{{this.number}}</a>
                                    </li>
                                    {{else if page.isDots }}

                                    {{else}}
                                    <li class="page-item ">
                                        <a class="page-link" onclick="changePage({{this.number}})">{{this.number}}</a>
                                    </li>
                                    {{/if}}
                                    {{/each}}

                                    {{#if pagination.next}}
                                    <li class="page-item">
                                        <a class="page-link" onclick="changePage({{pagination.next}})"
                                            aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>

                </form>
        </section>
    </div>

</main>
{{!-- delete form --}}
<div id="delete-work-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa nhật ký</h5>

            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa nhật ký này không ?</p>
            </div>
            <div class="modal-footer ">
                <button id="btn-delete-item" type="button" class="btn btn-danger" style="float: right; width:100px">Đồng
                    ý
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    style="float: right; width:100px">Thoát</button>
            </div>
        </div>
    </div>
</div>
{{!-- form delete --}}
<form name="delete-item-form" method="POST"></form>

{{> footer}}

<script src="/js/checkbox.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
<script src="/js/selectSearch.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-disabled-results').select2();
    });

    function changePage(page) {
        window.location.href = `/production-process-log/storeList?map=${getAttrMap}&tree=${getAttrtree}&season=${getAttrSeason}&year=${getAttrYear}&page=${page}`;
    }
</script>
<script>
    // method delete 
    const exampleModal = document.getElementById('delete-work-modal')
    exampleModal.addEventListener('show.bs.modal', event => {
        var deleteForm = document.forms['delete-item-form']
        var btnDeleteitem = document.getElementById('btn-delete-item')
        const button = event.relatedTarget
        //get id from button delete
        const recipient = button.getAttribute('data-id')

        btnDeleteitem.onclick = function () {
            deleteForm.action = '/production-process-log/' + recipient + '/delete'
            deleteForm.submit()
        }
    })
</script>
<script src="/js/generateNKSX.js"></script>